<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
      <style>
        table.dataTable {visibility: visible!important;}
        footer {background-color: #f7f8f9; color: #bcc3ce; padding: 1.5rem .75rem 1rem; margin-top: 1em;}
        a:visited {color: #5755d9!important;}
      </style>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    {% include 'header.html' %}
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
    {% include 'footer.html' %}
  </body>
</html>