{% extends "base.html" %}
{% block title %}LicenseDB{% endblock %}
{% block extrahead %}
  <link rel="stylesheet" href="static/spectre-0.5.9.min.css">
  <link rel="stylesheet" href="static/datatables/jquery.dataTables-1.10.22.min.css">
  <script src="static/jquery-3.5.1.slim.min.js"></script>
  <script src="static/datatables/jquery.dataTables-1.10.22.min.js"></script>
{% endblock %}
{% block content %}
  <div class="container">
    <table class="display" style="visibility: hidden;">
      <thead>
        <tr>
          <th>Key</th>
          <th>Short Name</th>
          <th>SPDX Identifier</th>
          <th>Category</th>
          <th>Links</th>
        </tr>
      </thead>
      <tbody>
      {% for key, license in licenses.items() %}
        <tr>
          <td><a href="licenses/{{ key }}.html">{{ key }}</a></td>
          <td>{{ license.short_name }}</td>
          <td>
            {% if license.spdx_license_key %}
              <a href="https://spdx.org/licenses/{{ license.spdx_license_key }}.html">{{ license.spdx_license_key }}</a>
            {% else %}
              -
            {% endif %}
          </td>
          <td>
            <a href="?search={{ license.category }}" style="color: inherit !important;">{{ license.category }}</a>
          </td>
          <td>
            <a href="licenses/{{ key }}.yml">yml</a> -
            <a href="licenses/{{ key }}.json">json</a> -
            <a href="licenses/{{ key }}.LICENSE">text</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      let table = $('table').DataTable({
        "paging": false,
        "ordering": true,
        "info": true,
      });

      // https://datatables.net/reference/api/search()
      let searchbox = $("#searchbox");
      searchbox.on("keyup", function() {
        table.search(this.value).draw();
      });

      let url_params = new URLSearchParams(window.location.search);
      let search = url_params.get('search');
      if (search) {
        searchbox.val(search);
        searchbox.keyup();
      }

    });
  </script>
{% endblock %}